header {
  height: 100px;
  background: #ffffff;
  box-shadow: 13px 0px 20px rgba(0, 0, 0, 0.04);
  .navbar {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .form-details {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border: 1px solid rgba(33, 63, 125, 0.2);
    border-radius: 8px;
    input {
      width: 87%;
      border: none;
      outline: none;
      padding-left: 15px;
    }
    input::placeholder {
      font-family: "Work Sans";
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
    button {
      width: 13%;
      height: 100%;
      background-color: #ffffff;
      border: none;
      outline: none;
      background-color: #39cdcc;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      cursor: pointer;
      svg {
        color: #ffffff;
      }
    }
  }
  .navbar__links {
    ul {
      display: flex;
      align-items: center;
    }
    li {
      list-style: none;
      margin-right: 50px;
      cursor: pointer;
    }
    .docs {
      font-size: 1rem;
      font-weight: 400;
      color: #213f7d;
    }
    .docs:hover {
      text-decoration: underline;
    }

    .img__container {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block;
      margin-right: 20px;
    }

    li:last-child {
      display: flex;
      align-items: center;
    }

    .bell {
      > svg {
        color: #213f7d;
        font-size: 1.6rem;
      }
    }
  }
}
