.userdetail {
  background-color: #e5e5e5;
  height: 1060px;
  font-family: "Work Sans", sans-serif;
}
.userdetail__container {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
}

.previous__page {
  display: flex;
  align-items: center;
  > img {
    cursor: pointer;
  }
  > p {
    margin-left: 20px;
  }
  margin-bottom: 25px;
}
.pageHero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  .pageHero__btns > button {
    width: 170px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 600;
    font-size: 0.9rem;
    margin-right: 20px;
  }
  .blacklist {
    color: #e4033b;
    border: 1px solid #e4033b;
  }
  .active {
    border: 1px solid #39cdcc;
    color: #39cdcc;
  }
}

.userdetail__overview {
  background-color: #fff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  width: 100%;
  height: fit-content;
}
.userdetailOverview__container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  padding: 30px;
  .user__info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(84, 95, 125, 0.2);
    padding-right: 50px;
    .img__container {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .userName {
      margin-left: 20px;
      h2 {
        font-weight: 500;
        font-size: 1.5rem;
        color: #213f7d;
      }
      > p {
        font-weight: 400;
        font-size: 0.92rem;
        color: #545f7d;
      }
    }
  }
  .user__tier {
    border-right: 1px solid rgba(84, 95, 125, 0.2);
    padding-right: 50px;

    > p {
      font-weight: 500;
      font-size: 0.9rem;
      color: #545f7d;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }
  .user__account {
    > p:first-child {
      padding-top: 17px;
      font-weight: 500;
      font-size: 1.5rem;
      color: #213f7d;
    }
    > p:last-child {
      padding-top: 5px;
      font-weight: 400;
      font-size: 0.8rem;
      color: #213f7d;
    }
  }
}
.userDetail__Nav {
  width: 80%;
  margin: 0 auto;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    list-style: none;
    font-weight: 400;
    font-size: 0.85rem;
    color: #213f7d;
    cursor: pointers;
  }
  li:first-child {
    color: #39cdcc;
    font-size: 1rem;
    border-bottom: 2px solid #39cdcc;
    padding-bottom: 3px;
    width: 16%;
    text-align: center;
  }
}

.userdetail__body {
  background-color: #fff;
  margin-top: 30px;
  padding: 30px;
  > h1 {
    font-weight: 600;
    font-size: 1rem;
    color: #213f7d;
    padding-top: 30px;
  }
  > h1:first-child {
    padding-top: 0px;
  }
  .personal__info {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(33, 63, 125, 0.2);
    margin-top: 15px;
    .info__details {
      margin-right: 50px;
      margin-bottom: 15 px;
      > h2 {
        font-weight: 400;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: #545f7d;
      }
      > p {
        font-weight: 500;
        font-size: 1rem;
        color: #545f7d;
        text-transform: capitalize;
      }
    }
  }
}
