.users {
  background-color: #e5e5e5;
  //   height: 90vh;
}
.users__container {
  padding-top: 60px;
  width: 85%;
  margin: 0 auto;
}
.typeOfusers {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.typeOfusers__card {
  width: 240px;
  height: 160px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  font-family: "Work Sans", sans-serif;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 22px;
      height: 22px;
      color: #df18ff;
      opacity: 1;
    }
  }
  .user {
    background-color: rgba(223, 24, 255, 0.1);
  }
  .userActive {
    background-color: rgba(87, 24, 255, 0.1);
  }
  .loan {
    background-color: rgba(245, 95, 68, 0.1);
  }
  .money {
    background: rgba(255, 51, 102, 0.1);
  }

  .userType {
    font-weight: 500;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #545f7d;
  }
  .no_Ofusers {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #213f7d;
  }
}
